language: emacs-lisp

sudo: false

matrix:
  fast_finish: true
  allow_failures:
    - env: EMACS_VERSION=snapshot

env:
  - EMACS_VERSION=25.1
#  - EMACS_VERSION=snapshot

before_install:
  - export PATH="$HOME/bin:$PATH"
  - wget 'https://raw.githubusercontent.com/flycheck/emacs-travis/master/emacs-travis.mk'
  - make -f emacs-travis.mk install_emacs
  - make -f emacs-travis.mk install_cask

install:
  - cask install

script:
  - cask exec ert-runner
